<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>The average of this grades(@ViewBag.grade1, @ViewBag.grade2, @ViewBag.grade3) is @ViewBag.result</p>
</body>
</html>